<%= link_to item_path(item) do%>
<div class="card">
  <div class="container">
    <%= item.name %>
    <%= item.quantity %>
  </div>
  <div class="container">
    <%= link_to 'edit/delete', edit_item_path(item), :class => "button" %>
  </div>
</div>
<% end %>
