<h1>Inventory Index</h1>

<div>
  <h3><%= link_to "Create Inventory Item", new_item_path, :class => "button" %></h3>
</div>

<% @items.each do |item| %>
  <%= render 'shared/item_card', item: item %>
<% end %>
