<div>
  <h3><%= link_to 'Create New Shipment', shipments_path, data: {turbo_method: :post }, :class => "button" %></h3>
</div>

<% @shipments.each do |shipment| %>
  <%= render 'shared/shipment_card', shipment: shipment %>
<% end %>
